@model IEnumerable<HR_Project.ViewModels.JobOfferViewModel>

<h1>
    Job offers:
</h1>

@foreach (var item in Model)
{
<div class="list-item">
    <div class="list-item-primary">
        <h2 class="list-item-title"> @Html.DisplayFor(modelItem => item.JobTitle) </h2>
        <button>View details</button>
    </div>
    <div class="list-item-secondary">
        <button>View application</button>
    </div>
    <div class="list-item-tertiary">
        <button>Edit offer</button>
        <button>Delete offer</button>
    </div>
</div>

    @*<tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>*@
}

