body {
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

.topbar {
    height: 100px;
    background-color: #55765d;
    margin: -1em;
    margin-bottom: 1em;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.topbar-logo-area {
    padding: 10px;
    height: 100%;
    width: 100px;
}

.topbar-logo {
    content: url(../HR-Logo.png);
    width: 80px;
    height: 80px;
}

.topbar-buttons-area {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}

.topbar-user-area {
    padding: 10px;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.topbar-button {
    display: flex;
    font-size: 24px;
    color: black;
    align-items: center;
}

.topbar-user-button {
    height: 80px;
    font-size: 30px;
}

.topbar-button:visited,
.topbar-button:active,
.topbar-button:hover {
    color: black;
    text-decoration: none;
}

.job-offers-icon::before {
    content: url(../job-offers.png);
    padding: 0px 5px;
    margin-top: 6px;
}

.application-icon::before {
    content: url(../applications.png);
    padding: 0px 5px;
    margin-top: 6px;
}

.users-icon::before {
    content: url(../manage-users.png);
    padding: 0px 5px;
    margin-top: 6px;
}

.user-icon::before {
    content: url(../user.png);
    padding: 0px 5px;
    margin-top: 6px;
}

.searchbar {
    height: 70px;
    background-color: #f7f6f6;
    margin: -1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.searchbar-button:visited,
.searchbar-button:active,
.searchbar-button:hover {
    color: black;
    text-decoration: none;
}

.searchbar-button-back {
    display: flex;
    font-size: 16px;
    color: black;
    align-items: center;
}

.searchbar-button-back::before {
    content: url(../keyboard_arrow_left_black_48x48.png);
    margin-top: 3px;
}

.searchbar-input-area {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.searchbar-input {
    width: 50%;
}

.searchbar-input-area::after {
    content: url(../search-24px.svg);
    margin-top: 3px;
    margin-left: -30px;
}

h1 {
    font-size: 3em;
    text-align: center;
    min-width: 700px;
}

.list-item,
.list-item-description {
    display: flex;
    background-color: white;
    border: solid;
    border-width: 1px;
    padding: 0.5em 1em;
    min-width: 700px;
}

.list-item {
    align-items: center;
    min-height: 60px;
    margin: 1em 6em;
}

.list-item-primary {
    display: flex;
    flex-grow: 1;
}

.list-item-secondary {
    padding: 0em 1em;
    min-width: 140px;
}

.list-item-tertiary {
    min-width: 160px;
}

.list-item-title {
    max-width: 60%;
    margin: 0 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-description {
    min-height: 400px;
    margin: -1em 6em 1em 6em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.list-item-footer {
    margin: -1em 6em 1em 6em;
    justify-content: space-between;
}

.button {
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #939393;
    min-height: 2em;
    background-color: #e6e6e6;
    color: black;
}