:root {
    --top-bar-background-color: #55765d;
    --grey-background-color: #ebebeb;
    --light-grey-background-color: #f7f6f6;
    --light-grey-button-color: #e6e6e6;
    --light-green-button-color: #92d36e;
    --light-red-button-color: #ff5d55;
    --dark-red-button-color: #e61610;
    --lighter-black-text-color: #232323;
    --darker-grey-text-color: #444444;
    --green-text-color: #629c44;
    --red-text-color: #e61610;
    --button-border-color: #939393;
}


body {
    background-color: var(--grey-background-color);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

.topbar {
    height: 100px;
    background-color: var(--top-bar-background-color);
    margin: -1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.topbar-logo-area {
    padding: 10px;
    height: 100%;
    width: 100px;
}

.topbar-logo {
    content: url(../HR-Logo.png);
    width: 80px;
    height: 80px;
}

.topbar-buttons-area {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}

.topbar-user-area {
    padding: 10px;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.topbar-button {
    display: flex;
    font-size: 24px;
    color: black;
    align-items: center;
}

.topbar-user-button {
    height: 80px;
    font-size: 30px;
}

.topbar-button:visited,
.topbar-button:active,
.topbar-button:hover {
    color: black;
    text-decoration: none;
}

.job-offers-icon::before {
    content: url(../job-offers.png);
    padding: 0px 5px;
    margin-top: 6px;
}

.application-icon::before {
    content: url(../applications.png);
    padding: 0px 5px;
    margin-top: 6px;
}

.users-icon::before {
    content: url(../manage-users.png);
    padding: 0px 5px;
    margin-top: 6px;
}

.user-icon::before {
    content: url(../user.png);
    padding: 0px 5px;
    margin-top: 6px;
}

.searchbar {
    height: 70px;
    background-color: var(--light-grey-background-color);
    margin: -1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.searchbar-button:visited,
.searchbar-button:active,
.searchbar-button:hover {
    color: black;
    text-decoration: none;
}

.searchbar-button-back {
    display: flex;
    font-size: 16px;
    color: black;
    align-items: center;
}

.searchbar-button-back::before {
    content: url(../keyboard_arrow_left_black_48x48.png);
    margin-top: 3px;
}

.searchbar-input-area {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.searchbar-input {
    width: 50%;
}

.searchbar-input-area::after {
    content: url(../search-24px.svg);
    margin-top: 3px;
    margin-left: -30px;
}

h1 {
    font-size: 3em;
    text-align: center;
    min-width: 700px;
}

.list-item,
.list-item-description {
    display: flex;
    background-color: white;
    border: solid;
    border-width: 1px;
    padding: 0.5em 1em;
    min-width: 700px;
}

.list-item {
    align-items: center;
    min-height: 60px;
    margin: 1em 6em;
}

.list-item-primary {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.list-item-secondary {
    padding: 0em 1em;
    min-width: 140px;
}

.list-item-tertiary {
    min-width: 160px;
}

.list-item-title {
    max-width: 60%;
    margin: 0 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-title-main {
    margin: unset;
}

.list-item-title-details {
    margin: unset;
}

.joboffer-status,
.application-status {
    text-decoration: underline;
    font-weight: bold;
}

.joboffer-status-active,
.application-status-approved {
    color: var(--green-text-color);
}

.joboffer-status-inactive,
.application-status-rejected,
.application-status-withdrawn {
    color: var(--red-text-color);
}

.application-details {
    background-color: var(--light-grey-background-color);
    flex-grow: 1;
    margin: 1em;
    border: 1px;
    border-style: solid;
    border-color: var(--button-border-color);
}

.application-property {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.application-property-label {
    flex-grow: 1;
    font-weight: bold;
}

.application-property-edit {
    width: 90%
}

.application-property-textarea {
    resize: vertical;
}

.list-item-description {
    min-height: 400px;
    margin: -1em 6em 1em 6em;
    padding: 5px 0px 5px 5px;
}

.description {
    resize: none;
    border: none;
    padding: unset;
    flex-grow: 1;
}

.list-item-footer {
    margin: -1em 6em 1em 6em;
    justify-content: space-between;
}

.button {
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: var(--button-border-color);
    height: 2.5em;
    background-color: var(--light-grey-button-color);
    color: black;
}

.button-back {
    margin-right: 1em;
}

.lightred {
    background-color: var(--light-red-button-color);
}

.lightgreen {
    background-color: var(--light-green-button-color);
}